APP_ENV=production
APP_DEBUG=false
APP_URL=https://example.com
APP_KEY=
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=foladino
DB_USERNAME=foladino
DB_PASSWORD=
SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
PAYMENT_DRIVER=zarinpal
ZARINPAL_MERCHANT_ID=
ZARINPAL_MODE=normal
